# Build and artifacts
*.so
*.o

# Reversing project
*.rep
*.lock*
*.gpr

# Python
__pycache__
#  ignore captures
*.txt

# PwnAdventure3 game
PwnAdventure3*
GameServer
MasterServer
creds

# Code
.vscode